<h1>Welcome to the Car Simulator</h1>

<form action = "status" method = "get">
  <label>Make</label>
  <input type = "text" name = "make" />
  <input type="color" name="carColor">
  </br>
  <label>Model Year</label>
  <input type = "text" name = "year" />
  <input type = "submit" value = "Simulate Car" />
</form>
